@import url('https://fonts.googleapis.com/css2?family=Cormorant+Upright:wght@300;400;500;600;700&family=Montserrat:ital,wght@0,200;0,400;0,600;1,300;1,600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

@layer base {
  /* body {
    background-color: ;
    color: #dcca87;
  } */

  h1,
  h2,
  h3,
  h4 {
    font-family: 'Montserrat';
    /* font-weight: 700; */
  }

  h1 {
    font-size: 2.5rem;
  }
  svg {
    pointer-events: none;
  }
}

.user-img {
  border-radius: 50%;
  height: 100px;
}

@layer components {
  .container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
  }

  /* form */

  .form {
    width: 90vw;
    max-width: 400px;
    background: var(--white);
    border-radius: var(--borderRadius);
    box-shadow: var(--shadow-2);
    padding: 2rem 2.5rem;
    margin: 3rem auto;
    transition: var(--transition);
    color: white;
  }

  .form:hover {
    box-shadow: var(--shadow-4);
  }

  .form-label {
    display: block;
    font-size: var(--smallText);
    margin-bottom: 0.5rem;
    text-transform: capitalize;
    letter-spacing: var(--letterSpacing);
  }

  .form-input,
  .form-textarea,
  .form-select {
    width: 100%;
    padding: 0.375rem 0.75rem;
    border-radius: 5px;
    background: white;
    border: 1px solid var(--grey-400);
  }

  .form-input,
  .form-select,
  .my-btn-block {
    height: 35px;
    color: black;
  }

  .form-row {
    margin-bottom: 1rem;
  }

  .form-textarea {
    height: 7rem;
  }

  ::placeholder {
    font-family: inherit;
    color: var(--grey-400);
  }

  .form-alert {
    color: var(--red-dark);
    letter-spacing: var(--letterSpacing);
    text-transform: capitalize;
  }

  /* alert */

  @keyframes spinner {
    to {
      transform: rotate(360deg);
    }
  }
  user-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2rem;
    width: 100px;

    button {
      background: transparent;
      border: none;
      color: inherit;
      font-size: 1.2rem;
    }
  }

  .user-prop {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2rem;
  }

  .user-prop p {
    margin-top: 1.6rem;
    margin-right: 0.4rem;
  }

  .dropdown {
    position: absolute;
    top: 40px;
    right: 30px;
    width: 100px;

    padding: 0.5rem;
    text-align: center;
    visibility: hidden;
  }
  .show-dropdown {
    visibility: visible;
  }
  .dropdown-btn {
    background: transparent;
    border-color: transparent;
    text-transform: capitalize;
    cursor: pointer;
  }

  .loading {
    width: 6rem;
    height: 6rem;
    border: 5px solid var(--grey-400);
    border-radius: 50%;
    border-top-color: var(--primary-500);
    animation: spinner 2s linear infinite;
  }

  .loading-center {
    margin: 0 auto;
  }

  .btn {
    padding: 0.3rem 0.5rem;
    border-radius: 0.5rem;
    border: 2px solid #023047;
  }

  .sidebar {
    transform: translateZ(0);
    -webkit-transform: translateZ(0);
    transition: var(--transition);
  }

  .sidebar ul {
    right: -1.4rem;
  }

  @media (min-width: 768px) {
    .container {
      width: 750px;
    }
  }

  @media (min-width: 992px) {
    .container {
      width: 992px;
    }
    .sidebar {
      display: none;
    }
  }

  @media (min-width: 1200px) {
    .container {
      width: 1200px;
    }
  }

  a:hover {
    color: inherit;
  }
  /* form */
  .contact-form {
    padding-right: 15px;
    padding-left: 15px;
  }

  .form-control input:focus {
    border-radius: 10px;
  }

  .form-label {
    font-weight: bold;
  }

  .form-control input,
  textarea {
    border: 1px solid black;
  }

  @media screen and (min-width: 768px) {
    .contact-form {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    form {
      width: 600px;
    }
  }

  .contact {
    display: flex;
    place-items: center;
  }

  .contact-page {
    margin-top: -1rem;
    min-height: 100vh;
    padding-top: 5rem;
  }

  .hover a:hover {
    color: white;
    transition: all ease-in-out 3ms;
    text-decoration: underline;
  }

  footer a:hover {
    color: rgb(11, 223, 205);
    transition: all ease-in-out 3ms;
    text-decoration: underline;
  }
}
